
Flask
flask_sqlalchemy
Flask-Migrate
Flask-Script
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
psycopg2-binary
flask-bcrypt
Flask-Uploads
simplejson
requests
Flask-Principal
Flask-Security
ics
flask_jwt_extended
python-dotenv
Flask-Cors
Flask-RESTful
Jinja2
MarkupSafe
itsdangerous
pymongo
gunicorn==21.2.0 
cloudinary